.header {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 99;
  padding: 0 24px;
}

.header-search {
  display: flex;
  flex: 1;
  margin: 10px 20px 10px 0;
  width: 100%;
}

.searchInput {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: 100%;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}

/* .nav-item {
  margin: 0 20px;
} */

.navbar-toggler {
  width: 40px;
  height: 40px;
  background-color: transparent !important;
  border: 1px solid #f79b34;
  border-radius: 5px;
}
.navbar-toggler-icon {
  height: 1px;
  width: 20px;
  color: #f79b34 !important;
}

@media (max-width: 767px) {
  .header-search {
    width: auto;
    margin: 10px auto;
  }
  /* .nav-item-small, .nav-item {
    margin: 5px ;
  } */
}
@media (min-width: 900px) {
  .navbar-toggler {
    display: none;
  }
}
