

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card {
  width: 311px;
}

form input {
  border: 1px solid #B57226;
  border-radius: 5px;
  width: 100%;
  transition: all .3s;
}
input:focus {
 outline: none !important;
 box-shadow: 1px 2px 3px   #b5722692;
}

button.btn {
  font-weight: semi-bold;
  transition: all .3s;
}
button.login-btn{
  background-color:   #f79b34;
  color: #fff;
}

button.login-btn:hover {
  background-color: #B57226;
  color: #fff;
}
button.register-btn{
  background-color:   #ccc;
  color: rgba(0, 0, 0, 0.875);
  font-size: 15px;

}
button.register-btn:hover{
  background-color:   #ddd;
}

p{
  line-height: 16px;
  font-size: 12px;
}

.link {
  
    text-decoration: none;
    color: #d38f41;
    font-size: large;
  
}

.link:hover {
  color: #B57226;
}